/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #e5e5e5; }

* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
form {
  margin: 0;
  padding: 0; }

button {
  border: none;
  cursor: pointer; }

input {
  border: none;
  background-color: inherit; }

/* all_products */
.all__product {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 95px; }

.adress__line {
  display: flex;
  align-items: center;
  width: min(100% - 2rem, 1259px);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 74px;
  margin: 0 auto;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px; }

.adress__link,
.passive-link {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #616467;
  text-decoration: none; }

.active-link {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #616467;
  text-decoration: none; }

span {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #616467; }

.all__product__content {
  margin-top: 50px;
  margin-bottom: 95px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 57.52px;
  width: 100%;
  max-width: 1259px;
  margin-inline: auto;
  padding-left: 35.15px; }

.sidebar {
  border-right: 1px solid #EBEBEB;
  width: 100%;
  max-width: 291px; }

.sidebar__title {
  margin-top: 24px;
  margin-bottom: 63px;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 0.015em;
  color: #000000; }

.sidebar__form {
  width: 100%;
  max-width: 218.35px; }

.sidebar__suptitle {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #000000;
  margin-bottom: 20px; }

.form__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px; }

.label__checkbox {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #616467; }

.form__item input {
  background-color: #000000;
  color: #ffffff; }

.form__others {
  margin-inline: auto;
  width: 150px;
  margin-bottom: 42px; }

.form__price {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.inPrice {
  width: 100%;
  max-width: 101.19px;
  height: 31px;
  margin-bottom: 10px;
  background: #F5F7FB;
  border: 1px solid #C5C5C5;
  border-radius: 10px;
  text-indent: 35px; }

.set__price {
  margin-bottom: 63px; }

.submit__price {
  width: 100%;
  max-width: 215.16px;
  height: 36px;
  background: #211F1C;
  border-radius: 10px;
  color: #ffffff;
  transition: background-color .2s linear; }

.submit__price:hover, .reset:hover {
  background-color: #393D45;
  cursor: pointer; }

.reset {
  width: 100%;
  max-width: 215.16px;
  height: 36px;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #000000;
  transition: background-color .2s linear; }

/* mainbar */
.mainbar {
  padding-right: 5px;
  width: 100%;
  max-width: 906px; }

.mainbar__form {
  margin-top: 14px;
  width: 100%;
  max-width: 906px; }

.form__search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  background: #F5F7FB;
  border-radius: 30px; }

.search__img {
  width: 24.85px;
  height: 23.33px;
  margin-left: 28.09px;
  margin-right: 5px; }

#search {
  width: 98%;
  background: #F5F7FB;
  border-radius: 30px;
  height: 56px; }

.search__result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%; }

.result__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #000000; }

.result__title b {
  font-weight: 700; }

.select__sort {
  width: 100%;
  max-width: 127.82px;
  height: 25px;
  background: #FFFFFF;
  border: 0.5px solid #ACACAC;
  border-radius: 10px; }

.select__item, .select__sort {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #616467; }

.all-product__content-mainbar {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 203px);
  column-gap: 31.95px;
  row-gap: 32.2px; }

.all-product__item {
  display: flex;
  align-items: flex-end;
  padding-bottom: 16px;
  width: 100%;
  max-width: 203px;
  height: 296.8px;
  border: none;
  transition: transform .2s linear; }

.all-product__item:hover {
  cursor: pointer;
  transform: translate(-10px, -10px); }

.all-product--1 {
  background: url(../images/all__product/1.png) no-repeat; }

.all-product--2 {
  background: url(../images/all__product/2.png) no-repeat; }

.all-product--3 {
  background: url(../images/all__product/3.png) no-repeat; }

.all-product--4 {
  background: url(../images/all__product/4.png) no-repeat; }

.all-product--5 {
  background: url(../images/all__product/5.png) no-repeat; }

.all-product--6 {
  background: url(../images/all__product/6.png) no-repeat; }

.all-product--7 {
  background: url(../images/all__product/7.png) no-repeat; }

.all-product--8 {
  background: url(../images/all__product/8.png) no-repeat; }

.all-item__btn__cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 154px;
  height: 25px;
  margin: 0 auto; }

.all-item__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #211F1C;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  width: 100%;
  max-width: 104px;
  height: 25px;
  transition: background-color .2s linear; }

.all-btn__add-cart {
  border-radius: 10px;
  height: 25px; }

.all-btn__add-cart img {
  transition: background-color .2s linear; }

.all-item__btn:hover,
.all-btn__add-cart img:hover {
  background-color: #616467; }

.item__withPrice {
  width: 100%;
  max-width: 203.8px;
  height: 332.8px; }

.aboutitem {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%; }

.aboutitem__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #616467; }

.aboutitem__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #616467; }

/*# sourceMappingURL=all_product.css.map */
